affine
attrs
certifi
cffi
charset-normalizer
click
click-plugins
cligj
contourpy
cramjam
cryptography
cycler
et_xmlfile
fastparquet
filelock
fonttools
fsspec
geographiclib
geopandas
geopy
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mercantile
mpmath
networkx
numpy
opencv-python
openpyxl
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
pillow
psutil
pyarrow
pycparser
pyogrio
pyparsing
pypdfium2
pyproj
pytesseract
python-dateutil
pytz
rasterio
requests
scikit-learn
scipy
seaborn
setuptools
shapely
six
sympy
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
xyzservices
